#port {
  width: 100%;
  margin-top: 30vh;
}
.port__inner {
  padding: 30px;
  justify-content: center;

  .port__title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    color: var(--white);

    @media (max-width: 800px) {
      font-size: 2.2rem;
    }
  }
  .port__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 7000px;

    .port__item {
      width: 500px;
      height: 100%;
      background-color: var(--subBg100);
      padding: 1rem 1.3rem;
      margin-right: 20px;

      &.p1 {
        background-color: var(--subBg100);
      }
      &.p2 {
        background-color: var(--subBg200);
      }
      &.p3 {
        background-color: var(--subBg300);
      }
      &.p4 {
        background-color: var(--subBg400);
      }
      &.p5 {
        background-color: var(--subBg500);
      }
      &.p6 {
        background-color: var(--subBg100);
      }
      .num {
        font-size: 2rem;
        font-family: var(--mainNum-font);
      }
      .img {
        display: block;
        transition: margin-top 0.3s;

        img {
          border-radius: 5px;
          filter: saturate(0%);
          transition: all 0.3s;
        }

        &:hover {
          img {
            filter: saturate(100%);
          }
        }
      }
      .title {
        font-size: 1.8rem;
        padding: 7px 0;
        font-weight: 700;
        color: var(--black100);
        border-bottom: 2px solid var(--black100);
        margin-bottom: 1rem;
        text-align: center;

        @media (max-width: 800px) {
          font-size: 1.3rem;
        }
      }
      .desc {
        font-size: 1rem;
      }
    }
  }
}
