#skills {
  height: 100%;
  color: var(--white);
  margin-top: 52vh;

  @media (max-width: 800px) {
    margin-top: 19vh;
  }

  .skills__inner {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;

    .skills__title {
      font-size: 3rem;
      font-weight: 900;
      margin-bottom: 60px;
      text-transform: uppercase;
      text-decoration: underline;
      text-underline-offset: 8px;

      @media (max-width: 800px) {
        font-size: 3rem;
      }
    }

    .skills__intro {
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        list-style: none;
        padding: 0;
        margin: 0;

        @media (max-width: 800px) {
          grid-template-columns: 1fr;
        }

        li {
          border: 2px solid var(--white);
          padding: 30px;
          position: relative;

          @media (max-width: 800px) {
            padding: 20px;
          }

          div {
            position: relative;

            strong {
              position: absolute;
              top: -91px;
              left: -45px;
              background-color: var(--black);
              color: #6ec3ff;
              font-weight: bold;
              padding: 8px 16px;
              border-radius: 20px;
              border: 2px solid var(--white);
              transform: rotate(-10deg);
              font-family: "Courier New", Courier, monospace;
              font-size: 1.5rem;
            }

            p {
              font-size: 1rem;
              line-height: 1.6;
              text-align: left;
              margin-top: 40px;
            }
          }
        }
      }
    }
  }
}
